<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block title %}
        Start of a Mind Boggle-ing Project
        {% endblock %} </title>
    <link rel='stylesheet' href='https://unpkg.com/bootstrap/dist/css/bootstrap.css'>
    <link rel="stylesheet" href="/static/stylez.css">
</head>

<body>

<div class="container-fluid">
    {%  block content %}

    {% endblock %}
</div>

    <script src='https://unpkg.com/axios/dist/axios.js'></script>
    <script src='https://unpkg.com/jquery'></script>
    <script src="/static/script.js"></script>
</body>

</html>