<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%  block title %}
        Start of a Mind Boggle-ing Project
        {% endblock %} </title>
    <link rel="stylesheet" href="../static/stylez.css">
    <link rel='stylesheet' href='https://unpkg.com/bootstrap/dist/css/bootstrap.css'>
</head>

<body>
<div>
    {%  block content %}

    {% endblock %}
</div>

    <script src="../static/script.js"></script>
</body>

</html>